DMALOGINCCEBL/conf/web/dmalogincce/WEB-INF/wsdl/ccbl.SupportoService.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SupportoService" targetNamespace="http://dmaccbl.csi.it/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://dmaccbl.csi.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://dmaccbl.csi.it/" xmlns:ns1="http://dma.csi.it/" xmlns:tns="http://dmaccbl.csi.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://dma.csi.it/" />
<xs:complexType name="setRuoloTransazione">
<xs:sequence>
<xs:element minOccurs="0" name="richiedente" type="ns1:richiedente" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="serviceResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="codifiche" nillable="true" type="ns1:codifica" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="errori" nillable="true" type="ns1:errore" />
<xs:element minOccurs="0" name="esito" type="ns1:risultatoCodice" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="setRuoloTransazioneResponse">
<xs:complexContent>
<xs:extension base="tns:serviceResponse">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="getIdTransazione">
<xs:sequence>
<xs:element minOccurs="0" name="richiedente" type="ns1:richiedente" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getIdTransazioneResponse">
<xs:complexContent>
<xs:extension base="tns:serviceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="dataInizio" type="xs:dateTime" />
<xs:element minOccurs="0" name="durataMassima" type="xs:int" />
<xs:element minOccurs="0" name="idTransazione" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="setFineTransazione">
<xs:sequence>
<xs:element minOccurs="0" name="richiedente" type="ns1:richiedente" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="setFineTransazioneResponse">
<xs:complexContent>
<xs:extension base="tns:serviceResponse">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="setRuoloTransazione" nillable="true" type="tns:setRuoloTransazione" />
<xs:element name="setRuoloTransazioneResponse" nillable="true" type="tns:setRuoloTransazioneResponse" />
<xs:element name="getIdTransazione" nillable="true" type="tns:getIdTransazione" />
<xs:element name="getIdTransazioneResponse" nillable="true" type="tns:getIdTransazioneResponse" />
<xs:element name="setFineTransazione" nillable="true" type="tns:setFineTransazione" />
<xs:element name="setFineTransazioneResponse" nillable="true" type="tns:setFineTransazioneResponse" />
</xs:schema>
<xs:schema elementFormDefault="qualified" targetNamespace="http://dma.csi.it/" version="1.0" xmlns:tns="http://dma.csi.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="richiedente">
<xs:sequence>
<xs:element minOccurs="0" name="applicazione" type="tns:applicazioneRichiedente" />
<xs:element minOccurs="0" name="aziendaSanitaria" type="tns:aziendaSanitaria" />
<xs:element minOccurs="0" name="codiceFiscale" type="xs:string" />
<xs:element minOccurs="0" name="numeroTransazione" type="xs:string" />
<xs:element minOccurs="0" name="regime" type="tns:regimeDMA" />
<xs:element minOccurs="0" name="ruolo" type="tns:ruoloDMA" />
<xs:element minOccurs="0" name="tokenOperazione" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="applicazioneRichiedente">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="codifica">
<xs:sequence>
<xs:element minOccurs="0" name="codice" type="xs:string" />
<xs:element minOccurs="0" name="descrizione" type="xs:string" />
<xs:element minOccurs="0" name="riferimento" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="disciplina">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="modalitaDiAlimentazione">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="tipoEpisodio">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="aziendaSanitaria">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="prestazione">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence>
<xs:element minOccurs="0" name="descrizioneEstesa" type="xs:string" />
<xs:element minOccurs="0" name="disciplina" type="tns:disciplina" />
<xs:element minOccurs="0" name="valoriPrestazione" type="tns:valoriPrestazione" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="valoriPrestazione">
<xs:sequence>
<xs:element minOccurs="0" name="quantita" type="xs:string" />
<xs:element minOccurs="0" name="range" type="xs:string" />
<xs:element minOccurs="0" name="unitaDiMisura" type="xs:string" />
<xs:element minOccurs="0" name="valore" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="tipoDocumento">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="unitaOperativaSanitaria">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="comuneDiNascita">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="strutturaSanitaria">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="errore">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="componenteLocale">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence>
<xs:element minOccurs="0" name="aziendaSanitaria" type="tns:aziendaSanitaria" />
<xs:element minOccurs="0" name="componenteLocaleTipo" type="tns:componenteLocaleTipo" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="servizi" nillable="true" type="tns:componenteLocaleServizio" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="componenteLocaleTipo">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="componenteLocaleServizio">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence>
<xs:element minOccurs="0" name="urlServizio" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="operazioni" nillable="true" type="tns:componenteLocaleOperazione" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="componenteLocaleOperazione">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence>
<xs:element name="TimeoutMaxElaborazione" type="xs:long" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="regimeDMA">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="componenteLocaleRispostaStato">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="tipoFileDocumento">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="statoDiNascita">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ruoloDMA">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence>
<xs:element minOccurs="0" name="aziendaSanitaria" type="tns:aziendaSanitaria" />
<xs:element minOccurs="0" name="profilo" type="tns:profilo" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="profilo">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="episodioStato">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="consenso">
<xs:sequence>
<xs:element minOccurs="0" name="consensoAllaCostituzioneDMA" type="tns:siNo" />
<xs:element minOccurs="0" name="dataDiValidazione" type="xs:dateTime" />
<xs:element minOccurs="0" name="derogaEmergenza" type="tns:siNo" />
<xs:element minOccurs="0" name="modalitaDiAlimentazione" type="tns:modalitaDiAlimentazione" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ArrayOfpazientepaziente">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="paziente" nillable="true" type="tns:paziente" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="paziente">
<xs:sequence>
<xs:element minOccurs="0" name="codiceFiscale" type="xs:string" />
<xs:element minOccurs="0" name="cognome" type="xs:string" />
<xs:element minOccurs="0" name="comuneDiNascita" type="tns:comuneDiNascita" />
<xs:element minOccurs="0" name="consenso" type="tns:consenso" />
<xs:element minOccurs="0" name="dataDiNascita" type="xs:dateTime" />
<xs:element minOccurs="0" name="idAura" type="xs:long" />
<xs:element minOccurs="0" name="idIrec" type="xs:long" />
<xs:element minOccurs="0" name="indirizzoEmail" type="xs:string" />
<xs:element minOccurs="0" name="mailPerAccessoDMA" type="tns:siNo" />
<xs:element minOccurs="0" name="nome" type="xs:string" />
<xs:element minOccurs="0" name="sesso" type="tns:sesso" />
<xs:element minOccurs="0" name="statoDiNascita" type="tns:statoDiNascita" />
<xs:element minOccurs="0" name="telefono" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="componenteLocaleRisposta">
<xs:complexContent>
<xs:extension base="tns:componenteLocale">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="errori" nillable="true" type="tns:errore" />
<xs:element minOccurs="0" name="stato" type="tns:componenteLocaleRispostaStato" />
<xs:element name="tempoMaxAttesaCLInSec" type="xs:long" />
<xs:element name="tempoMaxRestituzioneDatiInSec" type="xs:long" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ArrayOfcodificacodifica">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="codifica" nillable="true" type="tns:codifica" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="consensoMatriceTipoDato">
<xs:complexContent>
<xs:extension base="tns:codifica">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="risultatoCodice">
<xs:restriction base="xs:string">
<xs:enumeration value="SUCCESSO" />
<xs:enumeration value="FALLIMENTO" />
<xs:enumeration value="UNDEFINED_VALUE" />
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="siNo">
<xs:restriction base="xs:string">
<xs:enumeration value="SI" />
<xs:enumeration value="NO" />
<xs:enumeration value="UNDEFINED_VALUE" />
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="sesso">
<xs:restriction base="xs:string">
<xs:enumeration value="M" />
<xs:enumeration value="F" />
<xs:enumeration value="UNDEFINED_VALUE" />
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="setFineTransazioneResponse">
    <wsdl:part element="tns:setFineTransazioneResponse" name="setFineTransazioneResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setRuoloTransazioneResponse">
    <wsdl:part element="tns:setRuoloTransazioneResponse" name="setRuoloTransazioneResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setRuoloTransazione">
    <wsdl:part element="tns:setRuoloTransazione" name="setRuoloTransazione">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIdTransazioneResponse">
    <wsdl:part element="tns:getIdTransazioneResponse" name="getIdTransazioneResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setFineTransazione">
    <wsdl:part element="tns:setFineTransazione" name="setFineTransazione">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIdTransazione">
    <wsdl:part element="tns:getIdTransazione" name="getIdTransazione">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SupportoService">
    <wsdl:operation name="setRuoloTransazione">
      <wsdl:input message="tns:setRuoloTransazione" name="setRuoloTransazione">
    </wsdl:input>
      <wsdl:output message="tns:setRuoloTransazioneResponse" name="setRuoloTransazioneResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdTransazione">
      <wsdl:input message="tns:getIdTransazione" name="getIdTransazione">
    </wsdl:input>
      <wsdl:output message="tns:getIdTransazioneResponse" name="getIdTransazioneResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setFineTransazione">
      <wsdl:input message="tns:setFineTransazione" name="setFineTransazione">
    </wsdl:input>
      <wsdl:output message="tns:setFineTransazioneResponse" name="setFineTransazioneResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SupportoServiceSoapBinding" type="tns:SupportoService">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setRuoloTransazione">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="setRuoloTransazione">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setRuoloTransazioneResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdTransazione">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getIdTransazione">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getIdTransazioneResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setFineTransazione">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="setFineTransazione">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setFineTransazioneResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupportoService">
    <wsdl:port binding="tns:SupportoServiceSoapBinding" name="SupportoServicePort">
      <soap:address location="http://localhost:8080/dmacc/SupportoService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>