DMALOGINCCEBL/conf/web/dmalogincce/WEB-INF/wsdl/dmaccbl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	name="DmaccblService" 
	targetNamespace="http://dmaccbl.csi.it/"
	xmlns:tns="http://dmaccbl.csi.it/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	
	<wsdl:types>
		<xs:schema 
			xmlns:tns="http://dmaccbl.csi.it/"
			targetNamespace="http://dmaccbl.csi.it/"
			xmlns:dma="http://dma.csi.it/v1.0"
			attributeFormDefault="unqualified" 
			elementFormDefault="unqualified">
			<xs:import namespace="http://dma.csi.it/v1.0" schemaLocation="dma.xsd" />
			
			<xs:complexType abstract="true" name="serviceResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="errore" type="dma:errore" />
					<xs:element minOccurs="0" name="esito" type="dma:esito" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:element name="ricercaPaziente" type="tns:ricercaPaziente" />
			<xs:complexType name="ricercaPaziente">
				<xs:sequence>
					<xs:element minOccurs="0" name="richiedente" type="dma:richiedente" />
					<xs:element minOccurs="0" name="paziente" type="dma:paziente" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ricercaPazienteResponse" type="tns:ricercaPazienteResponse" />
			<xs:complexType name="ricercaPazienteResponse">
				<xs:complexContent>
					<xs:extension base="tns:serviceResponse">
						<xs:sequence>
							<xs:element minOccurs="0" name="consenso" type="dma:consenso" />
							<xs:element minOccurs="0" name="paziente" type="dma:paziente" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:element name="inserisciPaziente" type="tns:inserisciPaziente" />
			<xs:complexType name="inserisciPaziente">
				<xs:sequence>
					<xs:element minOccurs="0" name="paziente" type="dma:paziente" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="inserisciPazienteResponse" nillable="true" type="tns:inserisciPazienteResponse" />
			<xs:complexType name="inserisciPazienteResponse">
				<xs:complexContent>
					<xs:extension base="tns:serviceResponse">
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="ricercaPazienteResponse">
		<wsdl:part name="parameters" element="tns:ricercaPazienteResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ricercaPaziente">
		<wsdl:part name="parameters" element="tns:ricercaPaziente">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="inserisciPazienteResponse">
		<wsdl:part name="parameters" element="tns:inserisciPazienteResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="inserisciPaziente">
		<wsdl:part name="parameters" element="tns:inserisciPaziente">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="DmaccblService">
		<wsdl:operation name="ricercaPaziente">
			<wsdl:input name="ricercaPaziente" message="tns:ricercaPaziente">
			</wsdl:input>
			<wsdl:output name="ricercaPazienteResponse" message="tns:ricercaPazienteResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="inserisciPaziente">
			<wsdl:input name="inserisciPaziente" message="tns:inserisciPaziente">
			</wsdl:input>
			<wsdl:output name="inserisciPazienteResponse" message="tns:inserisciPazienteResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="DmaccblServiceSoapBinding" type="tns:DmaccblService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ricercaPaziente">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="ricercaPaziente">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ricercaPazienteResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="DmaccblService">
		<wsdl:port name="DmaccblServicePort" binding="tns:DmaccblServiceSoapBinding">
			<soap:address location="http://localhost:9090/DmaccblServicePort" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>